.source-container {
    width:200px;
    border: 1px solid rgb(223,216,216);
    border-radius: 15px;
    border-bottom-color: rgb(223,216,216);
    position: relative;
    margin:1rem;
    min-height:229px;
}

.source-header {
    display: flex;
    align-items:center;
    gap:3px;
    margin-left:5px;
    padding:5px;
}

.source-header-container {
    display: flex;
    justify-content: space-between;
}

.source-dropdown {
    position: relative;
    display:inline-block;
    cursor: pointer;
    margin-top:5px;
}

.dropdown-icon {
    width:15px;
    height:22px;
    display: inline-block;
}

.dropdown-menu {
    width:75%;
    border:1px solid rgb(223, 216, 216);
    border-radius:5px;
    position: absolute;
    background-color: white;
    z-index:1000;
}

.source-label {
    padding:9px;
}

.divider {
    margin:0;
    border: 0.5px solid rgb(247, 240, 245);
}

.source-search-box {
    position: relative;
    width:100%;
    display: flex;
}

.source-body {
    font-size:14px;
    padding:5px;
}

.tree-structure {
    display: inline;
}

.tree-structure-container {
    display: flex ;
    justify-content: flex-end;
    gap: 10px;
}

.dropdown {
    margin-left:5px;   
}

.disabled-checkbox {
    cursor:not-allowed;
}

.disabled-label {
    color: gray;
    opacity: 0.6;
}

.error {
   border: 1px solid #ff4d4f; 
}

.warning {
    border:1px solid #faad14;
}

.source-reload-btn {
    border:1px solid rgb(223,216,216);
    padding:5px;
    border-radius:5px;
    float: left;
    margin-bottom: 10px;
}

li {
    cursor: pointer;
}